[2019-02-26 21:43] dzarda opened #1 "Crates.io release"
First, thank you so much for your work!

I'd like to use this crate, but:
1. Adding it as a `dependency` with `stm32l0xx-hal = { git = "https://github.com/stm32-rs/stm32l0xx-hal.git" }` fails due to `path = "../stm32-rs-arko/stm32l0"`.
2. It's not present on crates.io

#1. should be more straightforward. Can we directly link the crates.io version? What's missing?

EDIT: I see, it's all being worke

[2019-03-03 04:51] arkorobotics commented on #1
This is all new to me too! If you wish to use this repo, you will need to download and reference [my fork of stm32-rs](https://github.com/arkorobotics/stm32-rs) in your cargo.toml until the next version of stm32-rs (>0.6.0)... though I bet you already figured this out.

Just a heads up, this repo has not been tested on hardware just yet. Everything is a work in-progress, so if you have any tested

[2019-04-22 10:42] ejpcmac opened #3 "Flashing method"
I see you’ve added to the `README.md` a flashing method that uses `st-flash`. Any reason not to do this instead?

    $ ./openocd_program.sh target/thumbv6m-none-eabi/debug/examples/serial

[2019-04-23 05:35] arkorobotics commented on #3
Great question. Up until now I hadn't considered it. I modified the openocd config file (https://github.com/stm32-rs/stm32l0xx-hal/blob/master/openocd.cfg) to attempt this, but I keep running into issues either erasing or flashing the device. Any thoughts as to what the issue might be?

Output when attempting to only flash:
`arkos-MacBook:stm32l0xx-hal arko$ ./openocd_program.sh target/thumbv6m-no

[2019-04-23 19:16] ejpcmac commented on #3
I’ve had some weird issues too with the Nucleo-F767ZI. I’ve noticed that if you wait for the drive to appear, doing nothing with the board in the mean time, it then works reliably. I don’t know if it is the same with STM32L0 dev board though. I’ll receive one this week so I’ll be able to try.

[2019-04-23 19:21] ejpcmac commented on #1
@arkorobotics Are the changes from your fork merged upstream yet—and so just waiting for the upcoming 0.7.0 release?

Also, I can confirm as of today that timers and GPIOs *do* work on a real (custom) STM32L0-based board. I’ve tried a little RTFM blinky app using timers at work.

[2019-04-23 20:16] arkorobotics commented on #1
Yep, just waiting on the 0.7.0 release so that we can build it without having to checkout my specific fork.

Awesome! Yes, I did test the GPIO, timer, and serial modules on my stm32l0 board. I'm hoping to get 100% hardware tested coverage on this HAL by the end of the month (fingers crossed).

[2019-04-28 20:11] dzarda commented on #1
I'm having some linker-related issues (you might be too 70bf58a5cab56aff742f240c91f04f3effc4383c)

Tried modifying the linker flags in both HAL and the target project, but to no avail. In some cases, it compiles with zero binary size, which is not idea...

[2019-04-28 20:12] dzarda commented on #1
[code]

[2019-04-28 22:38] arkorobotics commented on #1
Can I ask you to post your `cargo.toml` file? Do you have the latest commit?

This seems similar to: [https://github.com/stm32-rs/stm32-rs/issues/63](https://github.com/stm32-rs/stm32-rs/issues/63)

[2019-04-29 18:40] dzarda commented on #1
Thank you, it's alright. Adding `use stm32l0xx_hal;` was enough :D

[2019-04-29 22:17] arkorobotics commented on #1
Excellent!
I'm going to close this ticket since both issues mentioned in the first post are resolved:

1) Resolved by commit [4c10afa](https://github.com/stm32-rs/stm32l0xx-hal/commit/4c10afa3a488adf9316184cfc8d81c14e89ebee6) after the release of stm32-rs v0.7.0

2) stm32l0-hal v0.1.0 is now available on crates.io! [https://crates.io/crates/stm32l0xx-hal](https://crates.io/crates/stm32l0xx-hal)

[2019-04-29 22:17] #1 closed

[2019-05-08 17:28] lthiery opened #4 "SPI pin setup"
Hi there,

I've started to try to bring up a `stm32l0x2` with your HAL. So far so good! I got UART working.

I need to get SPI working next, but while inspecting the spi driver, I've noticed you don't actually configure the alternate function for the pins (although you do so in the UART driver).

I was wondering if there's a reason for this? How does it work without AF configuration?

Best,
Louis

[2019-05-17 13:41] lthiery commented on #4
PR incoming

[2019-05-17 13:41] #4 closed

[2019-07-05 23:49] arkorobotics commented on #3
Resolved the issue in commit [14a318a ](https://github.com/stm32-rs/stm32l0xx-hal/commit/14a318a364a9cc0e18169acc50933ab9059295d0). As it turns out, OpenOCD release version 0.10.0 does not fully support the stm32l0 family. There are several errors in the stm32l0.cfg file that prevent openocd from programming/debugging the MCU. Later commits of OpenOCD resolved this issues, so I added instructions

[2019-07-05 23:49] #3 closed

[2019-07-13 10:50] tkeksa opened #15 "stm32l0x3 support"
Are you going to implement stm32l0x3 support?

[2019-07-19 18:55] arkorobotics commented on #15
There are no plans to implement support at this time, but it's not to say it won't happen. I think most folks are adding to the project based on their MCU of choice.

As always, PR's to add support are always welcome.

[2019-07-29 12:29] tkeksa commented on #15
Thanks for your honest answer.
It is time to dive into embedded Rust and STM32 deeper.

[2019-08-01 00:25] arkorobotics commented on #15
Sounds good :)

I'm going to close this issue. If you find yourself struggling to add support for the x3, you can always open an issue with an enhancement label to request the added feature.

[2019-08-01 00:25] #15 closed

[2019-09-02 08:45] tkeksa opened #34 "docs.rs failed to build stm32l0xx-hal-0.3.0"
See https://docs.rs/crate/stm32l0xx-hal/0.3.0/builds/182532
The problem seems to be custom build.rs which requires exactly one feature enabled but there is:
[code]
Probably either just one feature should be enabled for docs build (as it has e.g. stm32f1xx_hal) or custom build.rs should be disabled for docs somehow.

[2019-09-15 11:32] arkorobotics commented on #34
Thanks for the ticket! This issue has been resolved. Please see docs.rs for version [0.3.1](https://docs.rs/crate/stm32l0xx-hal/0.3.1/).

[2019-09-15 11:32] #34 closed

[2019-09-23 20:40] berkowski opened #41 "Add DMA features"
I'd like to propose a few new features for DMA ops and I'd be happy to start working on a PR. Right now I'd like to use DMA to send data from a buffer I format messages in to a UART.

- I'd like a `write_some(..)` equivalent to the `write_all(..)` methods on `Tx<UART>` so I can specify how many bytes to write without messing around with the Pin object.

Eventually I'd like to use DMA with SPI and

[2019-09-23 22:08] arkorobotics commented on #41
@hannobraun thoughts?

[2019-09-24 06:28] hannobraun commented on #41
@berkowski

Sounds sensible and straight-forward to implement.

Adding DMA support to SPI shouldn't be too hard. The special thing about SPI is, that you can read and write at the same time, which means you'd have two active DMA transfers working on the same buffer. I suggest adding a `Transfer` struct to the SPI module that wraps the two DMA transfers and basically looks like a single transfer to

[2019-09-24 07:14] berkowski commented on #41
@hannobraun

All seems reasonable.  I'll put together the `write_some()` PR hopefully soon and then look at the SPI stuff you linked.  I don't have any needs blocking on the ADC stuff so there's no rush for me there.  I just assume that at some point I'll want it when an idea comes along.

I don't have a compelling case for moving on traits for DMA and was mostly just curious if there was one but

[2019-09-24 13:02] hannobraun opened #42 "EXTI API is partially broken, could use an update"
I've been planning to update the EXTI API for a while now, as I believe that it has started to outgrow its initial design. I started working on that, but it turns out I bit off more than I can chew.

I'm pausing this work until I can come up with some new ideas. In the meantime, I'm opening this issue to document the current shortcomings of the API, and the problems I had coming up with a better d

[2019-09-25 21:39] arkorobotics commented on #41
@berkowski does #43 satisfy this request? If so, I'll close it.

[2019-09-26 01:23] berkowski commented on #41
I think so!  At least the work is being done to resolve it, so I'd say it can be closed

[2019-09-26 03:17] arkorobotics commented on #41
Great, thanks!

[2019-09-26 03:17] #41 closed

[2019-10-09 10:08] jonas-schievink opened #46 "Pin types should be zero-sized"
It looks like all pin types store their pin number and port, which makes them 2 Bytes in size. This isn't necessary, since their type already encodes both (`PA3` is pin 3 on port A). Only partially type-erased pins need to store anything in them (`PA` only needs to store its number, but currently also stores both the pin number and port).

[2019-10-14 10:11] hannobraun commented on #41
Update on my ADC work: I've started working on it, but have to switch to other work for now. I expect that I'll be able to pick it back up some time in late November.

Here's my WIP branch: https://github.com/braun-embedded/stm32l0xx-hal/tree/adc

[2019-10-21 16:49] berkowski commented on #41
That's great!   I've also gotten sucked back into work that pays the bills so my own little push is on hold, but I'll take a look at that link for my own curiosity's sake

[2019-11-01 19:11] jonas-schievink opened #52 "Timers can't sleep for >1 second"
The hal::timer::CountDown impl of the timers uses Hertz as the Time parameter, which is a newtype around u32. This makes the longest timeout duration 1 Hz or 1 second. It would be useful to support this.

[2019-11-20 17:46] #46 closed

[2019-12-04 15:49] jonas-schievink opened #61 "PAC is reexported three times"
It is reexported as `pac`, `device` and `stm32`. Reexporting it once is enough. I'd prefer to use the `pac` name for that and to remove the others.

[2019-12-06 16:07] jonas-schievink commented on #42
(working on this now)

[2019-12-09 20:40] #61 closed

[2019-12-10 16:51] #42 closed

[2020-01-06 22:59] dbrgn opened #67 "Serial `Pins` design discussion"
Right now the `Pins` trait looks like this:

[code]

It is then implemented for pin pairs using a macro:

[code]

The problem with this is, that it assumes that a single pin pair can be used for an USART peripheral. However, pins can be mixed, so I could use USART1 with PA9 and PB7.

One approach would be to generate `Pins` implementations for all permutations (which can go into dozens or even hun

[2020-01-07 07:25] hannobraun commented on #67
I think your suggestion sounds good. I'd personally prefer to replace the `Pins` trait instead of incorporating it into the new design. As far as breaking changes go, this one shouldn't have too big of an impact, and I'm more concerned about making things confusing by keeping around an unnecessary trait.

[2020-01-07 08:44] dbrgn commented on #67
I agree! I'll try to come up with a good design.

Another thing that was brought up in the Matrix chat: It's currently possible that multiple Tx pins can be used for the same UART (maybe also Rx, but that might cause problems). That could break exclusive access to an UART even though the pins have been moved into the driver that uses the UART. I don't think we can do anything about that, right?

[2020-01-08 06:28] hannobraun commented on #67
I don't quite understand. Are you saying that using multiple TX pins would be fine on the hardware level but cause problems in the HAL? Or are you saying using multiple pins for the same functions is possible in the HAL API, but shouldn't be possible at all?

In any case, we can model all kinds of behavior, by making alternate functions their own struct. Then you would need to involve the function

[2020-01-08 08:43] dbrgn commented on #67
Ah, my assumptions were mistaken. This is what I originally meant to write:

---

A serial driver (e.g. for a modem using AT commands) could be initialized with two USART1 pins (e.g. PA9 / PA10). Those pins are then captured by the driver using ownership, which creates a sense of safety and isolation.

But there's nothing stopping you from using PB6 (also connected to USART1) and to write to the s

[2020-01-08 15:43] jonas-schievink opened #70 "Serial errors are never returned"
Currently any errors signaled by a UART are cleared and turned into `WouldBlock`. This is not ideal since it suggests that the only issue is that no data is available.

https://github.com/stm32-rs/stm32l0xx-hal/blob/68eeba6cd8c71a22b365d15dfe4ae9c4bb62888a/src/serial.rs#L443-L452

It would be better to only clear the first error bit that is set, and return its corresponding `Error` variant. That w

[2020-01-10 15:54] arkorobotics commented on #67
Do we want to close this and PR #68?

[2020-01-10 16:46] rnestler commented on #67
Why would you close it? Or did you mean merge it for the PR?

[2020-01-10 17:20] arkorobotics commented on #67
Sorry for the confusion, I meant to merge PR #68 and close this issue.

[2020-01-10 17:25] dbrgn commented on #67
In that case the question was probably directed at @hannobraun?

[2020-01-13 17:18] #70 closed

[2020-01-30 22:46] dzarda opened #75 "Half duplex SPI"
SPI would benefit from half-duplex comms *(SPI control register 1: BIDIMODE)*.

I realize this trait is missing in embedded-hal. I could potentially try to figure this out and bodge a prototype. But that ain't gonna be easy since I'm rather new to Rust.

Any pointers appreciated.

[2020-02-03 20:29] dzarda commented on #75
I'm trying to enable SPI1 in RCC.APB2ENR from the consuming crate. I'm unable to do that since the RCC rb has been moved in `freeze()` and is hiding in [hal::Rcc](https://github.com/stm32-rs/stm32l0xx-hal/blob/master/src/rcc.rs#L185) under `pub(crate)`. Is implementing peripheral drivers outside of -hal packages frowned upon?

[2020-02-04 07:02] hannobraun commented on #75
In general, HALs attempt to provide an API that protects the user from making mistakes (although in practice, all that I know fall short in various ways). One such mistake would be to, for example, to initialize a UART at 115200 baud, then invalidating that configuration by changing the clocks in RCC, which this HAL prevents by freezing the clock configuration.

I don't know if it's frowned upon,

[2020-02-10 21:56] dzarda commented on #75
Thanks. I then got stuck on figuring out the receiving part. Let's say we'd have some blocking:: API with roughly:
[code]

The write impl is pretty straightforward, but with read one has to actively manage the half duplex: BIDIMODE=1 & BIDIOE=0 causes infinite SCK train to be produced. We don't want that, SCK should be disabled after receiving N words.

1. First solution would be busy polling and

[2020-02-13 06:10] DanSGiesbrecht opened #77 "I2C Example - Error Reading Variable"
I'm having difficulty implementing the [I2C example](https://github.com/stm32-rs/stm32l0xx-hal/blob/master/examples/i2c.rs):

- MCU: STM32L071
- stm32l0xx_hal version: 0.5.0

[code]

---

When debugging using GDB, I get one out of a variety of errors when I stop debugging, such as:

[code]
[code]
[code]
[code]

---

I'm relatively new to Rust. Is this an issue with the I2C example, or am I missing

[2020-02-13 07:56] dbrgn commented on #77
@DanSGiesbrecht see #39. we're also using the STM32L071 and hit the same strange issues :slightly_smiling_face:

[2020-02-13 16:32] DanSGiesbrecht commented on #77
Thanks for pointing that out! Going to test tonight - if that's my only issue, I'll close this PR.

[2020-02-15 15:42] berkowski opened #79 "PWM interface only exposed for TIM2"
I'm looking at using this crate for a device built around the STM32L071 and found that the PWM interface is only exposed for TIM2.  I'll need PWM on TIM3 as well and looked into making a PR when I noticed things were pretty hard-coded in `pwm.rs`.

Is there any reason things are the way they are with the current implementation? What kind of changes would be allowed to provide a more generic creati

[2020-02-15 18:12] #77 closed

[2020-02-21 19:36] mcopela opened #81 "SPI Readings Incorrect on MISO LSB"
I'm seeing a strange problem with the Full Duplex SPI library I can't figure out. Any help is appreciated!

The LSB on my reads usually comes back flipped even though my oscilloscope shows the slave output to be as expected. Only the MISO LSB is affected. This happens no matter what I'm reading or which slave device I connect.

I'm running code on a **STM32L031** Evaluation Board. The example belo

[2020-02-21 22:50] dzarda commented on #81
I think we may be operating the peripheral incorrectly. The manual states that specific bits in `SPI_CR1` be adjusted only while not enabled (`SPE` = 0). For example:

![obrazek](https://user-images.githubusercontent.com/3955056/75077999-b13cbf80-5504-11ea-8b5f-472175a9f03b.png)

This is confirmed when inspecting [SPI driver code from ChibiOS HA](https://github.com/ChibiOS/ChibiOS/blob/master/os/h

[2020-02-22 15:47] dzarda commented on #81
What are you getting in `_result`?

[2020-02-24 17:16] mcopela commented on #81
The `_result` is the same as `buffer`. If I swap `_result` with `buffer` in the print statement I get the same output. Thanks for the help.

[2020-02-24 23:31] mcopela commented on #81
I downloaded [the crate](https://github.com/stm32-rs/stm32l0xx-hal) locally and implemented the change; I set the settings first, then set SPE=1. It didn't seem to fix my problem. I'll keep messing with the settings.

## Changes to STM32L0XX-HAL::spi

[code]

## Output
[code]

[2020-02-25 08:37] dbrgn opened #83 "Alternative Functions as Pin Modes"
In stm32l0xx-hal, we implement traits for pins in any mode and then configure the proper mode for those pins in a `setup` trait method. For example, for serial:

[code]

In contrast, in the stm32f0xx-hal, alternative functions are pin modes, just like Input or Output:

[code]

The trait impls are purely marker traits and expect the pins to be in the proper state.

![img](https://tmp.dbrgn.ch/scree

[2020-03-04 21:26] l29ah opened #84 "Supplying a customized memory map?"
I want to make a bootloader and a chain-loaded firmware, so i need to specify my own memory map. However, if i try to do it via `link-arg=-Tfoo.x`, i'm promptly told that `rust-lld: error: foo.x:3: region 'FLASH' already defined`. How can i override the supplied memory map?

[2020-03-05 07:20] dbrgn commented on #84
I think you can use the `disable-linker-script` feature. Does that work?

https://github.com/stm32-rs/stm32l0xx-hal/blob/f3b3e824252abfe6e5a592f3ce850d47d56cd112/build.rs#L28

[2020-03-05 13:09] l29ah commented on #84
Oh, yes, thank you!

[2020-03-05 13:09] #84 closed

[2020-03-18 20:48] ijager opened #85 "I2C 'Wait until byte is transferred' loop"
I was reading the `i2c` code since I want to implement it for another chip. Then I encountered the following loop in the `send_byte` function:

[code]
https://github.com/stm32-rs/stm32l0xx-hal/blob/f3b3e824252abfe6e5a592f3ce850d47d56cd112/src/i2c.rs#L188

This loop seems wrong as it only ever runs once. Guess it might still work in practice most of the time. I guess the idea was to wait for `txe`

[2020-03-18 21:57] dbrgn commented on #85
Most probably a duplicate of #77 and #76.

What version do you use? If master, does the commit before #76 was merged work? If you're using the released version, can you try master?

[2020-03-25 12:29] hannobraun commented on #41
Getting back to the ADC work took me much longer than expected, but I've done it now: https://github.com/stm32-rs/stm32l0xx-hal/pull/86

[2020-03-28 23:26] dbrgn commented on #85
@ijager can you test whether it works with the changes in #87 (https://github.com/gfroerli/stm32l0xx-hal/tree/i2c-correct-mappings)?

    # Cargo.toml
    stm32l0xx-hal = { git = "https://github.com/gfroerli/stm32l0xx-hal/", branch = "i2c-correct-mappings", features = ["rt", "mcu-YOURMCU"] }

[2020-04-04 18:45] #67 closed

[2020-04-05 01:36] #85 closed

[2020-04-06 09:40] tytouf opened #92 "Typo in serial.rs"
I encountered what seems to be a typo in serial.rs when building with feature "io-STM32L021"
[code]

[2020-04-06 09:47] dbrgn commented on #92
That does indeed look like a typo! We should make sure that all 4 IO features are tested in CI :confused:

[2020-04-06 09:52] dbrgn commented on #92
I'll provide a fix for this case and the CI.

[2020-04-06 11:04] tytouf commented on #92
Thank!

[2020-04-06 11:06] tytouf commented on #92
On a separate note I was able to toggle a pin and output on the uart very quickly: good job and thank you for the work on this crate!

[2020-04-07 21:33] dbrgn commented on #92
This should now be fixed on master, so the issue can be closed.

@arkorobotics maybe there should be a patch release on crates.io since 0.6.0 breaks compilation for some targets?

[2020-04-09 06:39] arkorobotics commented on #92
Done! Released v0.6.1.

[2020-04-09 06:39] #92 closed

[2020-04-17 19:20] almusil commented on #81
Sounds to me like you are hitting HW bug. Take look at the [errata](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=2ahUKEwi-pqWylfDoAhWK2qQKHfkfBiUQFjABegQIBBAB&url=https%3A%2F%2Fwww.st.com%2Fresource%2Fen%2Ferrata_sheet%2Fdm00182885-stm32l031x46-device-limitations-stmicroelectronics.pdf&usg=AOvVaw0pweLQMDxspb3T72R8eaKN) section **2.6.2**.

The problem is basically speed of th

[2020-04-23 06:40] almusil commented on #79
Hi,
AFAIK the pwm module is missing only PIN mapping for TIM3. The `TIM3` and `TIM2` are configured from the same registers that's why PAC [TIM3](https://docs.rs/stm32l0/0.10.0/stm32l0/stm32l0x1/struct.TIM3.html) points to the same register block as `TIM2`.

IMO exposing the pins should be done under the  `io-STM32L071` feature. I can post a PR for that if you want.

On the other support for the `

[2020-04-23 12:12] berkowski commented on #79
I ended up just using the PAC crate directly without `stm32l0xx-hal`.  Too many of my requirements were half- or unsupported that using the HAL as is just didn't make sense.

[2020-05-02 15:11] MarcoIeni opened #97 "implement Cancel trait for Timer"
Timer in [stm32f4xx-hal](https://github.com/stm32-rs/stm32f4xx-hal/blob/master/src/timer.rs) crate implements the [Cancel](https://docs.rs/crate/embedded-hal/0.2.3/source/src/timer.rs) trait.
You may be interested in doing the same for this crate.
Examples:
- https://github.com/stm32-rs/stm32f4xx-hal/blob/master/examples/timer-periph.rs
- https://github.com/stm32-rs/stm32f4xx-hal/blob/master/examp

[2020-05-13 15:06] nebelgrau77 opened #103 "serial doesn't seem to work at all"
I'm trying to use the serial example on STM32L031K6 Nucleo board. I'm getting the following compilation errors:

[code]

in fact I can't find these in the documentation, but they clearly do exist in the actual src code in the repo. How can I get it to work?

[2020-05-13 17:19] dbrgn commented on #103
You probably didn't specify your MCU (see https://github.com/stm32-rs/stm32l0xx-hal/blob/b8147f13c455942b4374c353b33b486e23b30172/Cargo.toml#L97-L258).

For the STM32L031K6 you need `features = ["mcu-STM32L031K6Tx"]` or `features = ["mcu-STM32L031K6Tx"]`, depending on which MCU you have. (If you aren't sure which exact MCU you have, you can also use `features = ["io-STM32L031", "stm32l0x1"]`.)

[2020-05-13 17:19] dbrgn commented on #103
We should probably add a note about that in the README...

[2020-05-14 08:12] nebelgrau77 commented on #103
Thanks! I was just missing the "io-..." part in the features block. Now it's working as expected :)

[2020-05-14 08:12] #103 closed

[2020-05-18 03:55] apgoetz opened #104 "Faulty DMA Buffer Overflow in adc_trig example"
Hi,

While experimenting with the ADC DMA examples, I discovered a bug in the implementation. I haven't completely root caused it, but I wanted to file an issue to keep track of it.

I assume this bug is part of the DMA implementation in #86

Currently, the DMA peripheral is set up in circular buffer mode to repeatedly transfer ADC samples into a fixed buffer. Sometimes, when the DMA peripheral re

[2020-05-18 03:59] apgoetz commented on #104
Forgot to mention, I am using a 32L0538DISCOVERY dev board, which is an stm32l0x3 device. In order to get the example to build, I removed the `#cfg` checks in `adc.rs`, and the required features from `Cargo.toml`.

I also had to change the UART peripheral to match the dev board, but I assume these changes shouldn't affect the behavior of the code.

The ADC DMA transfers seem to be working, until t

[2020-05-18 07:38] dbrgn commented on #104
(Offtopic, but what did you need to adjust with the UART peripheral? Did you specify the `mcu-STM32L053C8Tx` cargo feature?)

[2020-05-18 07:45] hannobraun commented on #104
Thanks for the report! I'll take a look later to see if I can reproduce this with the STM32L0x2 device I developed this with.

[2020-05-19 03:32] apgoetz commented on #104
Hi, I pushed my experiments into a new branch and will try to answer your questions:
[apgoetz/stm32l0xx-hal/tree/adc-dma-testing](https://github.com/apgoetz/stm32l0xx-hal/tree/adc-dma-testing)

@dbrgn, I have a usb-uart device connected to PB6 and PB7 on my dev board, which requires using USART1 instead of USART2. Just switching the USART from USART2 to USART1 caused a compilation error though:

[

[2020-05-19 03:42] apgoetz commented on #104
@hannobraun , Thanks for implementing this, while testing this out tonight, I got a nice picture that shows that the triggered DMA is essentially working correctly:

![psd](https://github.com/apgoetz/stm32l0xx-hal/raw/adc-dma-testing/200hz_psd.png)

That's a plot of the Power spectral density of the raw ADC readings in the buffer.  You can clearly see the AC mains hum at 60Hz, as well as the first

[2020-05-19 04:16] apgoetz commented on #104
Interestingly, if you make the `adc_trig.rs` example wait until the buffer is half full or completely full to drain it, the issue goes away. This is exposed in the DMA peripheral in the interrupt flags HTIF and TCIF.

* HTIF means that the transfer is half complete
* TCIF means the transfer is fully complete

In most use cases, I would expect higher level code to wait for one of these flags to be

[2020-05-19 08:03] hannobraun commented on #104
Thanks for digging deeper into this, @apgoetz. I haven't had a chance to take a look myself so far, but I hope I can get to it soon.

I added these restrictions because I didn't have an STM32L0x3 device to test with, so I figured I'd just restrict the code to what I _did_ test with instead of giving a false sense of security. Since you confirmed that it basically works on STM32L0x3, a pull request

[2020-05-19 10:34] hannobraun commented on #104
@apgoetz: I can reproduce the error on STM32L0x2 and can also confirm the following part of your analysis:

I've modified `check_overflow` to return some more information: https://github.com/braun-embedded/stm32l0xx-hal/commit/3d67103960e4be0d60c094f08996c8817e6aa62b

The output I get every time is this:
[code]

It seems to me the issue is that the write position wraps, but `transfer_complete` is

[2020-05-20 06:02] apgoetz commented on #104
@hannobraun , Thanks for the background on the `required-features`. Once there is a solution for the underlying DMA implementation then we can change the requirements. Also, sorry for the long-winded replies: I am new to the rust language and explaining everything in detail kind of helps with my though processes.

I did some more reading on this topic today. Unfortunately, I think it will be reall

[2020-05-20 08:17] hannobraun commented on #104
Thanks for doing all this research, @apgoetz. There has been a lot of movement in the space since I worked on the the DMA code in this crate. It would definitely be good to incorporate all this here, although I don't know if now would be a good time, or if waiting for further progress in the working group's focus project would be beneficial.

All that said, I'm already busier than I'd like, and I'

[2020-05-20 10:15] hannobraun commented on #104
I tried to fix the race condition by reading the two registers in a loop, only returning a result once two reads in a row would be the same. I did this under the assumption/hope that the race condition exists purely in the Rust code, and that the update of the registers by the DMA is atomic.

Turns out, that's not the case. It's totally possible to read the registers twice in a row, get the same r

[2020-05-21 02:18] apgoetz commented on #104
OK. Too bad the quick fix didn't work.

I think i would like a to wait a little bit longer until the best practices around this dma has settled a little bit. Once that has happened, I would be happy to work on a new implementation.

[2020-05-25 23:22] apgoetz commented on #104
@hannobraun , I have been working on a new implementation of the dma driver that only supports "oneshot" dma transfers. The idea here is that since the DMA controller can write to the buffer while you are accessing it, it makes sense to have a driver design where a buffer is given to the ADC driver, and only returned once the dma transfer has completed.

You can still have continuous transfers by

[2020-05-26 07:38] hannobraun commented on #104
@apgoetz

I haven't taken a look at the code yet, but that sounds like it would mesh well with [`bbqueue`](https://crates.io/crates/bbqueue).

Can you please submit this as a pull request (mark it as a draft, if you don't think it's ready). That makes it easier for me to add comments and track changes you make in response to them.

Also, to clarify, I'm not a maintainer of this crate (although it

[2020-05-27 07:12] arkorobotics opened #106 "Need more writers"
@jonas-schievink, @lthiery, and @dbrgn:

For redundancy, I have added @hannobraun as a maintainer to this repository. I figured it's a good idea to have a backup person just in case. This action was purely made to give someone other than myself (who's also active in the embedded Rust community) access to the repository.

That said, your contributions to this repository have been critical to its gr

[2020-05-27 12:19] dbrgn commented on #106
Thanks @arkorobotics for the offer :slightly_smiling_face: I'm happy to help with reviews and triaging of issues, however I still have to learn a lot about embedded software development (I'm a high-level software engineer by trade) and am not yet familiar with all the peripherals that ARM microcontrollers have. So feel free to add me to the project if you trust me, but I'd probably refrain from me

[2020-05-27 12:49] hannobraun commented on #104
Correction: Turns out I was a maintainer all along, just nobody told me :-)

[2020-05-27 13:26] hannobraun opened #108 "Make timers available only on supported hardware"
See #101 for some context. @dbrgn wanted to look into this.

[2020-05-27 13:56] almusil opened #109 "Create script that will mimic CI run"
Currently there is not an easy way to run what the commands that CI would. The goal is to create a script that would be invoked by CI and could be run locally.

[2020-05-27 19:58] arkorobotics commented on #106
Done! Welcome aboard!

Funny enough, I made a similar point Hanno that I'm just an electrical engineer with a background in circuit design and robotics, and that this HAL is just a hobby to me. I guess we're both flying by the seat of our pants here!

[2020-05-28 09:24] hannobraun commented on #106
And I'm just some undifferentiated software developer who one day decided to specialize on embedded Rust, so... :-)

[2020-06-16 18:06] akashihi opened #110 "PLL clock is incorrectly limited to 24MHz on l0x3 devices"
PLL clock is limited here https://github.com/stm32-rs/stm32l0xx-hal/blob/master/src/rcc.rs#L307 to 24MHz, but l073 supports up to 32MHz.

[2020-06-17 11:49] nebelgrau77 opened #111 "delay limited to frequencies over 1MHz"
Current implementation of delay asserts that the clock frequency is > 1_000_000 Hz, which limits its usage with MSI as clock source to Range4..Range6.

[code]

I understand that this is because otherwise we'd have less than 1 tick per microsecond, e.g. with Range0 at 65 kHz.

Would it make sense to add another method, e.g. LPDelay as in LowPower, with resolution expressed in ticks_per_ms and only

[2020-06-17 12:26] hannobraun commented on #111
I don't think that adding a new API for low-power mode delays would be a good solution, as the current API is implementing standard APIs from the `embedded-hal` project. It would be unfortunate if these were not available in low-power modes.

I think the most practical solution is to remove that assert and make sure the rest of the code is smart enough to handle low frequencies. I think it's fine

[2020-06-17 13:01] nebelgrau77 commented on #111
First of all I need to say that I'm not enough of an embedded Rustacean to code it myself, in fact I might be getting it all wrong :) But this line:

`let ticks_per_us = freq / 1_000_000_u32;`

that's integer division, right? The result will be u32, so if the frequency drops below 1MHz it will be just 0 ticks per microsecond, unless I'm getting it all wrong?

[2020-06-17 13:11] hannobraun commented on #111
Yes, I believe that's correct. That's why I said we need to make sure the code is smart enough to handle it, because the line you quoted certainly isn't :-)

I think we need to store `freq` in the struct instead of `ticks_per_us`, then compute the number of ticks in [`delay_us`](https://github.com/stm32-rs/stm32l0xx-hal/blob/489685ccd8a55c7371656438b6a86080d0f40e81/src/delay.rs#L66-L82).

If we ca

[2020-06-17 14:07] nebelgrau77 opened #112 "LPUART won't work below 1MHz"
Not sure whether this is a problem or there is some particular way to configure it. What I'm doing is:

`let mut lpserial = dp.LPUART1.usart(tx_pin, rx_pin, serial::Config::default(), &mut rcc).unwrap();`

It works perfectly with MSI from Range6..Range4, but not below that. The calculation of the baudrate divisor should work OK, it adjusts for LPUART. But it won't work. Setting the baudrate explic

[2020-06-17 15:48] nebelgrau77 commented on #112
It works, the problem was caused by the non working delay (as mentioned in another PR).

[2020-06-17 15:48] #112 closed

[2020-06-19 15:09] nebelgrau77 opened #113 "LPUART1 won't work with LSE as clock source"
Bottomline: baudrate not set correctly.

I've been trying to print a simple "Hello world" with serial, using LPUART1. I wanted to make sure that LSE was being used as the clock source, to make it truly low power, and I ran into a problem. I used the serial.rs example from the repo, changing the USART to LPUART, and before the clock setup I added the following code:

[code]
If I do the exact same t

[2020-06-22 05:45] almusil commented on #113
The code in fact does not consider LSE as source for LPUART. This is why is it happening. There might be a couple of solutions.

1) Having a trait implemented for LPUART only that will switch the source to LSE and reconfigures the baud rate correctly.

2) Check which clock source we have and then use appropriate clock. That unfortunately does not fit nicely with current macro that generates the co

[2020-06-22 09:14] nebelgrau77 commented on #113
Just to figure out how this was done for other chips I checked the HAL crates for F0xx, F1xx, F4xx and L4xx. Unless I missed something, none of them considers LSE frequency for baudrate divisor calculation, usually getting the fck from PCLK.

[2020-06-22 09:31] hannobraun commented on #113
I haven't worked with the LPUART, and I don't think I've made many changes to the clock code either (at least I don't currently remember many details about it). Since I also don't have the time to dig into it right now, any guidance I can give here is somewhat limited.

Generally speaking, I prefer trait-based approaches, as those can usually be implemented cleanly and allow the compiler to optimi

[2020-06-28 17:20] dbrgn opened #114 "Linked Upcounting Timer"
I wrote some code to link two 16 bit timers on an STM32L0 in order to form a 32 bit upcounting timer that can be used to measure relative time. The goal is to use this abstraction in order to implement the `Monotonic` trait for the RTIC scheduler.

Here's the current code, needs more testing & should be made more general (there are other timer pairs that allow linking), but seems to work already:

[2020-06-28 22:43] dbrgn commented on #114
Implementation is in #115, so this should probably be discussed there.

[2020-07-24 12:24] nebelgrau77 opened #117 "Switching LSE on doesn't seem to work"
I'm trying to use LPUART with Low Speed External oscillator (LSE). According to the STM32L0x1 reference manual, you need to set bit 8 of the control/status register (RCC_CSR LSEON), and then check if bit 9 of the same register (LSERDY) is set. In my code I do this:
dp.RCC.csr.modify(|_,w| w.lseon().on());
but the bit is not being set, checked by reading the register in a GDB session. The same does

[2020-08-01 11:08] nebelgrau77 opened #118 ".i2c method not found in `stm32l0xx_hal::pac::I2C1`"
I must be missing something, so please help: I'm trying to convert a working code, using SSD1306 display, from another STM32 board. I got stuck at setting up the I2C. It just won't compile, with the error as in the title. I tried the example from the crate, same problem. And when looking in the docs, I can't, in fact, find the .i2c method. After dp.I2C1. rust-analyzer shows only registers' names a

[2020-08-01 13:27] dbrgn commented on #118
You probably need to pick the appropriate `io-*` Cargo feature, so that the HAL knows the proper function mapping of the I/O pins. The easiest way to do this is to use the `mcu-*` feature matching your MCU:

https://github.com/stm32-rs/stm32l0xx-hal/blob/d7f0e504bdb42af588cd1456c8e3b901766a0d45/Cargo.toml#L97

For example:

[code]

(We really need to document this properly. I'll create a PR soon-i

[2020-08-01 14:06] dbrgn commented on #118
@nebelgrau77 can you check out the updated README in https://github.com/stm32-rs/stm32l0xx-hal/tree/improve-docs and let us know whether it clears things up?

[2020-08-01 18:28] nebelgrau77 commented on #118
OK, so that's what I thought, but I can't really get it to work. I did add the io-... to the features, but to no avail. Do I need to copy the whole set from the Cargo.toml in the examples, or is it enough to do this:
[code]
?
Unfortunately it didn't work, just tried it :/

[2020-08-02 10:34] dbrgn commented on #118
What MCU are you using? The only two features you need are `rt` and `mcu-*` (the latter of course with your concrete MCU).

[2020-08-02 16:03] nebelgrau77 commented on #118
It's an L031K6T6, 32 pins. The way I have it in the Cargo.toml right now is:

[code]

I replaced the mcu- alias with the actual contents for my chip. Still no success :/

[2020-08-02 16:10] dbrgn commented on #118
Did you import the prelude or alternatively the `I2cExt` trait?

[2020-08-02 16:14] nebelgrau77 commented on #118
Yep!

[code]

[2020-08-02 16:21] dbrgn commented on #118
Ok, then I'm out of guesses... Is this code public? If not, can you create an [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)?

[2020-08-02 16:37] nebelgrau77 commented on #118
yeah, I just put it here: https://github.com/nebelgrau77/stm32l0_i2c-problem/blob/main/src/main.rs - it's not my code, it's just the example code, with the references to the actual I2C device commented out, just to see if it would even compile. I'm sure I'm missing something in Cargo.toml, either too much or not enough :)

[2020-08-04 21:40] rnestler opened #120 "Register definitions for factory option bytes"
I'm trying to use the internal ADC reference to monitor VDDA. To do that I need the `VREFINT_CAL` value from the factory options. The factory option location aren't available in the SVD file (probably because they aren't peripheral) so they are not accessible.

Would it make sense to add register like definitions to the HAL or the PAC for the factory option location?

For reference a section from

[2020-08-05 07:21] dbrgn commented on #120
This field is part of the NVM bus:

![2020-08-05-091949_976x502_scrot](https://user-images.githubusercontent.com/105168/89383473-d7de6380-d6fc-11ea-8901-723895a33273.png)

I think it makes sense exposing factory option bytes and user option bytes through the HAL, but I'm not sure where the best place for that would be... Maybe an `nvm` module?

[2020-08-05 07:21] dbrgn commented on #120
@adamgreig @hannobraun are these fields exposed in one of the other HALs that you're aware of?

[2020-08-05 09:13] adamgreig commented on #120
F4 has it in `signature`: https://github.com/stm32-rs/stm32f4xx-hal/blob/master/src/signature.rs

[2020-08-05 09:28] dbrgn commented on #120
@adamgreig nice, thanks! That could probably be re-used for L0 as well.

Is the term "signature" commonly used for this type of information (calibration data)?

[2020-08-05 09:47] adamgreig commented on #120
I expect it came about because that module also covers reading the device unique ID (another random memory address you can't get from the SVD) and the device flash size, both of which are more 'signature'-esque. I haven't seen it for cal data but it makes sense alongside the other factory-written information I guess.

[2020-08-05 11:01] dbrgn commented on #120
Maybe the module could be called `nvm` or `factory` instead.

[2020-08-05 11:06] adamgreig commented on #120
Or `calibration` or `caldata`? But if you include the unique ID and flash size I think `signature` is OK, it still implies some sort of unique data about this particular chip.

That all said we also have https://github.com/stm32-rs/stm32-device-signature which provides access to unique ID and flash size (and is called `signature`) across many families including L0; perhaps the HAL could re-export

[2020-08-05 21:44] dbrgn commented on #120
Calibration data is provided in a new `calibration` module in #121.

Regarding the signature data, I'm not sure if it's worth it to pull in an external crate for [such a simple module](https://github.com/stm32-rs/stm32-device-signature/blob/master/src/lib.rs)... I'd tend towards copy-pasting the few lines into the HAL instead (with proper credits to @disasm of course). What do you think?

[2020-08-06 00:38] adamgreig commented on #120
No objections from me!

[2020-08-17 12:15] dbrgn commented on #118
I think you just made a typo that didn't exist yet in the original question :slightly_smiling_face:

[code]

With this, and the following line in Cargo.toml:

[code]

...the code compiles fine.

[2020-08-20 10:31] tytouf opened #122 "Doubts on I2C configuration"
Hello, I'm trying to use the I2C on a stm32l011 device but the code asserts during the unwrap of presc = u8(presc).unwrap() I believe (it's hard to debug due to the optimizations).
In any case looking at the code, I found the computations of the prescaler value strange : first a ratio is computed as `i2cclk / freq - 4` which can be negative in case the apb1 clock is too small and later the prescal

[2020-08-20 22:06] tytouf commented on #122
I started looking into how the I2C timings are computed tonight and based on AN4235 from ST and their old excel spreadsheet I wrote this python script to find correct values. The script final output for my configuration returns the same value than STM32CubeMx.
Forcing these values resulted in no assertions but now, i2c code is stuck, waiting for transmission completion.

[i2c_timings.py.txt](https

[2020-08-26 07:57] nebelgrau77 commented on #118
Well that's really bizarre, but it did work this time, so that's great! Thanks!

[2020-08-26 07:57] #118 closed

[2020-08-30 10:08] electroCutie opened #123 "ADC-DMA confiuguration improperly feature blocked"
stm32l0x1 chips support continuous sampling and moving values with DMA

This was confirmed on a NUCLEO-L011K board

[2020-08-30 10:13] electroCutie opened #125 "Improper ADC-DMA Overruns"
When calculating position in the buffer using values from the DMA registers the Buffer doesn't account for witnessing 0

I also managed to sometimes and very spuriously see values much larger than the transfer size. They were seeming arbitrary and had no significant bit pattern

[2020-09-03 08:47] electroCutie commented on #125
this is a duplicate of #104

[2020-09-03 08:47] #125 closed

[2020-09-03 09:02] hannobraun commented on #123
Fixed in #124, I believe.

[2020-09-03 09:02] #123 closed

[2020-09-03 12:24] electroCutie commented on #104
@apgoetz I took a look at it and my new working theory is that we've got an issue with non atomic reads, however we can work around this by using a stored position instead. Pull request created

With this I get absolutely ZERO improper overruns even right up to the limit where the hot loop has trouble keeping up with the ADC. In my testing it also properly generates overruns when the sampling rate

[2020-09-07 23:44] pdgilbert opened #128 "serial module"
Is there a reason that `serial` is not exported (pub ?) from `stm32l0xx_hal`?  When I build the `serial` example in the hal build directory it works fine, but if I run it in my own package I get
[code]
Also, looking at  [the doc](https://docs.rs/stm32l0xx-hal/0.6.2/stm32l0xx_hal/) `serial` does not appear as a module. (Nor does `i2c` but I haven't tried that yet.)

[2020-09-10 20:26] nebelgrau77 commented on #110
L031 is affected as well, it also supports 32 MHz.

[2020-09-14 14:30] hannobraun commented on #104
Fixed in #127.

[2020-09-14 14:30] #104 closed

[2020-09-28 16:15] pdgilbert commented on #128
I think there is something messed up in the feature / cfg setting of crate `stm32l0xx-hal`. In the crate build directory I can build example `serial` by specifying
[code]
but not the seemingly more logical
[code]
Possibly I do not understand some naming convention.

However, even the combination that works in the crate's build directory does not work outside of the crate build directory. When carg

[2020-09-28 16:33] dbrgn commented on #128
Did you check out the updated README at https://github.com/stm32-rs/stm32l0xx-hal#supported-configurations? The best way is to use just the MCU feature for your MCU. Unfortunatel the "old" stm32l0x1/stm32l0x2/stm32l0x3 names don't cleanly map to the actual product categories.

Yeah, it should work by simply specifying your MCU (e.g. `features = ["mcu-STM32L071KBTx"]`). You can find an example proj

[2020-09-29 16:09] pdgilbert commented on #128
Thank you, that helped a lot. I also see I was hopelessly optimistic in thinking there might be a simple naming convention. Obviously, I should have read the updated README, but I'm not sure I would have fully understood it without your project example. FWIW, I have several examples summarized at https://pdgilbert.github.io/eg_stm_hal/  and most of the `stm32l0xx-hal` versions now build.

[2020-09-29 16:09] #128 closed

[2020-09-29 18:53] dbrgn commented on #128
So was I when I first started using this HAL :slightly_smiling_face: But - as always - it turns out reality is more complicated :slightly_frowning_face:

[2020-10-03 20:31] akashihi commented on #110
I checked [L0 series selector](https://www.st.com/en/microcontrollers-microprocessors/stm32l0-series.html) and found that _all_ STM32L0 mcus actually support 32MHz.

[2020-10-11 18:41] akashihi commented on #117
The reference manual says that 'The LSEON, LSEBYP, RTCSEL,LSEDRV and RTCEN bits in the RCC control and status register (RCC_CSR) are in the RTC domain. ' Thus you need to disable write protection of RTC domain configuration.  This code works perfectly:

[code]

[2020-10-11 20:44] nebelgrau77 commented on #117
Great, thanks! Need to try it!

[2020-10-11 20:44] #117 closed

[2020-10-11 21:59] #106 closed

[2020-10-11 23:16] #110 closed

[2020-10-16 11:25] #120 closed

[2020-12-03 08:58] romixlab opened #135 "ADC clock configuration"
It seems the if you call 'rcc.freeze(rcc::Config::msi(MSIRange::Range5));' and then enable Adc it will just freeze, because there is no clock to it (default is HSI16) and no way to change clock source. For now I just modified CFGR2 manually through unsafe code. Am I missing something?

[2021-01-03 21:51] henriheimann opened #139 "System clock of 32 MHz via PLLMul::Mul4 and PLLDiv::Div2 leads to hard fault because of default voltage range"
When using the following configuration for a 32 MHz system clock, which is possible since #129, a hard fault is generated:
[code]

I traced the problem down to the default Vcore range. As shown by the following table (STM32L0 reference manual, p. 174), `VcoreRange::Range1` would be required for frequencies greater than 16 MHz. The default configured Vcore range however, is `VcoreRange::Range2` (ST

[2021-01-16 20:38] nbraud opened #141 "Support for the STM32L0x0 subfamily"
Hi!

Support for the STM32L0x0 subfamily seems to be missing, according to both the README and `docs.rs`.
Presumably, this is because they are also missing from the Peripheral Access Crate, but what would be required (beyond some `svd2rust` calls) to make this happen?

I suspect @Jglauche and I would be willing to make it happen, if you can point us in the right direction.

[2021-01-16 20:46] nbraud commented on #141
Looks like the SVD descriptors are missing from the [files published by ST Micro]...  >_>'

[files published by ST Micro]: https://www.st.com/en/microcontrollers-microprocessors/stm32l0x0-value-line.html#cad-resources

[2021-01-16 20:58] jglauche commented on #141
I poked STM about it, will post an update if I hear from them.

[2021-01-20 10:36] jglauche commented on #141
They sent me
"STM32L0x0.svd Indeed, it seems the zip file is not updated on st.com, I will inform my colleague. For your information, you can also find this file at the following folder location: in STM32CubeProg tool (SVD folder) https://www.st.com/en/development-tools/stm32cubeprog.html or in STM32CubeIDE tool (\plugins\com.st.stm32cube.ide.mcu.productdb.debug_1.5.0.202011051456\resources\cmsis\

[2021-01-29 12:33] romixlab commented on #52
Same problem with watchdog

[2021-02-03 17:02] jglauche commented on #141
I received an updated today:
"Small update on my side.
We are taking this into consideration and we will try to deliver new SVD files with license indication for upcoming products.

Regarding you github question, you have to respect the following license:

Copyright (c) 2020 STMicroelectronics.

SPDX-License-Identifier: Apache-2.0

Licensed under the Apache License, Version 2.0 (the "License");
yo

[2021-02-03 17:10] jglauche commented on #141
for easier access to the file until ST fixes their SVD download package, I created a repo with the file https://github.com/jglauche/STM32L0x0

[2021-02-27 16:50] allexoll opened #147 "Missing ! in gpio.rs"
I think there is a missing `!` in gpio.rs in the gpio macro implementing `is_high`. see attached code for first occurence with missing `!` and second occurence with `!` present.

[code]

[2021-03-02 11:10] #113 closed

[2021-03-10 09:32] hannobraun opened #151 "CI not working"
CI is not running for me on #150, probably because of the limitations of Travis. We should switch to GitHub Actions.

[2021-03-12 10:32] #151 closed

[2021-03-20 19:00] kaidokert opened #160 "While {} busy waits"
Just a suggestion: there are quite a few places where there's a `while ..some bit condition.. {}` loop.

Sometimes it would be helpful if in debug builds these loops would time out and panic if the condition doesn't get hit in some sane amount of time, i.e. u16::MAX would be usually plenty.

I ran into a thing where `RTC::new()` was trying to call `enable_lse()`, which hangs forever if your devel

[2021-03-21 15:02] hannobraun commented on #160
That sounds very sensible. I think even in cases where you know that such a loop shouldn't deadlock, it makes sense to have such a mechanism to detect wrong assumptions and bugs (hardware and software).

I'm somewhat concerned about different behavior between debug and release builds though (even though there's precedent for that). Maybe we should add a Cargo feature (default-off at first) to make

[2021-03-25 01:51] kaidokert commented on #139
Hmm, i ran into the same issue, and fixed it by looking at what STMCube generated. STMCube modified the flash wait state

This worked:
[code]

Note that this doesn't work:
[code]

As it's too late to modify it, the device has already locked up.

[2021-03-25 02:38] kaidokert commented on #139
After poring over datasheet, to be fully in spec, it looks like both the wait state and vcore need to be set. The device ( L062 here ) powers up at 1.5V by default in range 2, not at 1.8V,

So for anyone following along at home, if you want 32mhz, do this, it'll most likely work:

[code]

Although the latter bit still looks sketchy as the voltage should be upped before clock change. Copying the PA

[2021-04-04 20:47] pdgilbert opened #161 "adc to internal temperature"
Is it possible to read the internal temperature with adc. I think it is connected to internal channel ADC_IN18 but I don't see how to specify that. (Newbie, so I may just be doing something stupid.)

[2021-04-06 10:57] hannobraun commented on #161
The internal temperature sensor is represented by `adc::VTemp`. I'm not sure how to use it, but it has an `enable` method, and presumably can be treated like any other channel after that.

It would be great if we had an example showing this in the repository.

[2021-04-06 22:00] pdgilbert commented on #161
Ok, I got it to build. I just used VTemp as the channel and didn't need to do any `enable` for it to build. I don't have hardware to test that this actually works. I can do a PR with an example if you like,  but not testing on hardware is a caveat.

[2021-04-07 11:51] hannobraun commented on #161
Well, I guess having an example that points users in the right direction would be valuable, even if it's not tested. I'd merge your PR, as long as the example has prominent comments that clearly state it needs testing and might possibly not work.

[2021-04-07 19:14] pdgilbert commented on #161
I will do a PR shortly. In addition to saying it has not been tested I will suggest if anyone does test it then they could report results here (issue #161). I'll also add a comment about my site https://github.com/pdgilbert/eg_stm_hal/ which has `setup()` functions for other devices, and several other examples too. Let me know if you would prefer that I omit that.
Thanks for your help.

[2021-04-07 19:14] #161 closed

[2021-04-08 11:23] hannobraun opened #163 "Clippy CI build fails"
The Clippy CI build currently fails, presumably because a new Clippy version has been pulled in. It would be nice to get this fixed (either by following what Clippy says or by silencing those warnings; haven't looked into it, so don't know what would be appropriate). Any pull request doing so would be very welcome!

[2021-04-08 11:29] hannobraun commented on #163
Here's a failing build: https://github.com/stm32-rs/stm32l0xx-hal/runs/2296253088?check_suite_focus=true

[2021-04-08 19:01] dbrgn commented on #163
Regarding the non-uppercase identifiers: I'd suggest silencing these warnings since acronyms are used a lot. Simply applying the fixes might break third party code without any gain.

I'll give it a try.

[2021-04-09 09:34] #163 closed

[2021-04-30 16:35] allexoll opened #166 "update PAC from 0.10.0 to 0.13.0"
there has been updates to the pac.

some fields were missing (namely in the CRC peripheral, and i'm porting the F4 CRC driver to this family, but some fields aren't present in the 0.10.0 pac.

trying to change the pac version only seems to break 2 calls to unsafe functions in the DMA driver, so that seems fixable.

What is your opinion on this?

[code]

[2021-05-01 08:23] hannobraun commented on #166
Replied in #167.

[2021-05-04 07:40] allexoll commented on #166
has been adressed in #168

[2021-05-04 07:40] #166 closed

[2021-06-10 08:55] azerupi opened #170 "stm32l051k8u6 has 64kb of flash but is configured with 16kb"
Hi!

Unless I'm missing something, I think that the memory descriptions loaded are not always correct? I'm using for example a `stm32l051k8u6` and `stm32l071k8u6`. According to the `Cargo.toml` of this hal it should activate the following features:
[code]

So they both fall under the `stm32l0x1` group and that loads `memory_l0x1.x` according to the build.rs file. This defines that there is `16kb`

[2021-06-10 09:16] dbrgn commented on #170
Yes, you should be able to provide your own `memory.x` with the `disable-linker-script` Cargo feature:

https://github.com/stm32-rs/stm32l0xx-hal/blob/1324d0991d700a4363eaa84f9b7f65258a31cb51/build.rs#L24-L48

You'll need to provide your own `memory.x` in that case, something like this: https://github.com/gfroerli/firmware/blob/master/firmware/build.rs

Regarding the memory configuration, we gener

[2021-06-10 09:25] dbrgn commented on #170
Ah, I checked our [cube-parse scripts](https://github.com/dbrgn/cube-parse/). The memory mapping is generated based on the name, so all MCUs matching the RegEx `^STM32L0.1` will be mapped to `memory_l0x1.x`.

This may be wrong in a few cases, as you have noticed. Right now, the recommended way is to disable the automatic linker script and provide your own memory mapping. The included linker script

[2021-06-10 09:39] azerupi commented on #170
Great, thanks for the quick reply!

This might not be obvious for users. If a better 'fix' takes some time maybe we should warn the user to double check somewhere in the readme?

I'll have a look to see how easy/hard it would be to make the change.

[2021-06-10 10:18] dbrgn commented on #170
Yes, that would be great! Would you be willing to contribute a README PR that would have helped you?

Main question would be _how_ to pass that information from the generator to the build script. My first intuition would be `flash-64` and `ram-20` features that are automatically generated for the MCU. The build script would then emit different size parameters for the generated `memory.x` depending

[2021-06-10 13:05] azerupi opened #172 "Can't change PWM frequency after instanciating a Pwm struct"
Hi,

I'm trying to change the frequency of a PWM pin dynamically. This is impossible with the currant API because the method to change the frequency is on the timer, but the timer contains all the pwm channels and when you 'associate' a pwm channel to a pin it is moved out of the timer struct. When you then try to configure the pwm frequency you get a 'borrow of partially moved value' error.

**Ex

[2021-06-11 11:14] hannobraun commented on #172
Hey @azerupi, thank you for bringing this up!

I think this is sound, as far as Rust's `unsafe` rules are concerned (although I'm not completely sure). Should be fine as a workaround.

Definitely! The only hurdles are coming up with an acceptable design, and someone doing the implementation work.

I share your concern, but I think this would be fine (although far from ideal), as long as this is pr

[2021-06-11 11:26] azerupi commented on #172
Thanks for your reply!

In that case I might give it a try and send a pull-request for that when I have some time :slightly_smiling_face:

[2021-06-11 11:33] hannobraun commented on #172
Thank you, @azerupi, that would be great!

[2021-06-24 12:39] allexoll opened #179 "Order Issue for USART flushing"
I believe the uart flush has the operation in the wrong order. please correct me if i'm wrong.
[code]

i believe the write to tccf should be done after checking for TC bit. the way it is done now means that we clear the TC flag before checking it, meaning that the condition will always return `WouldBlock`.

I'm happy to do a PR if i'm correct.

[2021-06-24 16:43] dzarda commented on #179
[code]

As far as I know this does not perform the status register read, but reads the `isr` variable that was obtained on the first line.

[2021-06-24 17:46] allexoll commented on #179
you can have a race condition if the TC flag is set between the read and the clear flag. that way, you will clear the flag, but the tc flag won't be detected. i think the correct implementation should be test flag, and clear flag only if the flag is set.

[2021-06-24 18:09] dzarda commented on #179
Got it, I must agree

[2021-06-25 12:43] #170 closed

[2021-08-25 09:53] hannobraun commented on #179
Fixed in #188.

[2021-08-25 09:53] #179 closed

[2021-09-19 13:46] blakesmith opened #189 "GPIO Pin#downgrade doesn't fully erase Port identifier"
Hi friends!

If you need to gather an array of GPIO pins, that have different types (including different port numbers), the suggested approach is to use something like `PA0.downgrade()` to erase the underlying pin identifier and port from the type.

When using the `stm32f0xx-hal` crate, [this fully erases the pin number and port from the type](https://docs.rs/stm32f0xx-hal/0.17.1/stm32f0xx_hal/gpi

[2021-09-19 14:12] dbrgn commented on #189
I'd tend towards number 1, but are there any use cases where an erased pin but a non-erased port would be important?

[2021-09-19 14:13] jamwaffles commented on #189
My vote goes for number 1 as well

[2021-09-19 19:29] blakesmith commented on #189
Thanks for the weigh-in everyone! I'll work on a PR to change `downgrade` to remove port typing.

[code]

The only one I've encountered is when I need to change multiple GPIO pins on a single port, that share a common register (changing multiple bits in a single GPIO register to affect multiple pins). This use-case isn't really possible with these `Pin` APIs in most MCU hal crates... We'd need som

[2021-09-20 12:51] snakehand commented on #141
There seems to be other differences as well that needs to be taken into account. I noticed that BP6, PB7 are reserved for USART2 in the data sheet for STM32L0101C6, but the current hal io implmentations place those pins on UART1 when building with the "closest" stm32l0x1 feature.

[2021-09-24 11:47] blakesmith commented on #189
Closed by #190. Thanks everyone!

[2021-09-24 11:47] #189 closed

[2021-09-28 16:37] snakehand commented on #141
I tried making HAL support (specifically serial ports) for STM32L0x0 by hacking around in the stm32f0xx-hal crate. It seems a new io definition is needed as a number of peripherals are missing compared to the L0x1 devices. But still I am pretty stuck, as I can't get simple GPIO / UART code working. I can upload a fork of the repo with my hacks, but I doubt it has much value.

[2021-09-29 13:58] jglauche commented on #141
Have you tried my fork at https://github.com/jglauche/stm32l0xx-hal ?

[2021-09-30 06:03] snakehand commented on #141
When building for the chip on my dev board, using this feature set : stm32l0xx-hal = { path="../test/stm32l0xx-hal", features = ["mcu-STM32L010RBTx", "stm32l0x0", "rt"] }  - I get a ton of compilation errors, which I think are triggered by the wrong io feature. "io-STM32L071" pulls in a bunch of perpherals that don't exist in the L010 HAL.

[2021-10-15 19:25] dbrgn opened #194 "New release (0.8.0)"
The last release was in March, since then [quite a few things were changed](https://github.com/stm32-rs/stm32l0xx-hal/blob/master/CHANGELOG.md). How about a new release? @hannobraun I think you tagged the last few releases, right?

[2021-11-04 09:27] #194 closed

[2021-12-05 22:51] pdgilbert opened #198 "cortex-m-rt v0.7.0?"
Any chance of updating to use `cortex-m-rt v0.7.0`? That may also need updating to `stm32l0 v0.14.0` and other changes.

If anyone can point me to a branch that has this update then I can reactivate testing my examples (https://github.com/pdgilbert/rust-integration-testing/actions) with `stm32l0xx-hal`. I have had to disable it because of the conflict with other crates now using the newer `cortex-

[2021-12-06 09:37] jamwaffles commented on #198
I did the upgrade in a fork of this repo a while back, but found a regression with the timers. I opened https://github.com/stm32-rs/stm32-rs/pull/659 to fix, but there's been no movement on that so far.

[2021-12-06 13:41] hannobraun opened #199 "Fix Clippy CI failures"
Looks like there are new errors from Clippy: https://github.com/stm32-rs/stm32l0xx-hal/runs/4430943449

Would be nice to fix those.

[2021-12-06 21:10] #199 closed

[2021-12-07 13:58] johnkjellberg opened #201 "DMA serial support for stm32l0x1"
DMA serial support only exists for stm32l0x2 and stm32l0x3. But as far as I can tell, it should be possible to support stm32l0x1 also.

Please advice if there are any reason why it shouldn't work.

[2021-12-09 13:45] azerupi opened #204 "docs.rs failed to build the docs for v0.8.0"
Docs.rs failed to build the documentation for v0.8.0: https://docs.rs/crate/stm32l0xx-hal/0.8.0/builds

From the logs:
[code]

This is caused by the exclusive MCU selection. I'm not sure if there is a great way to handle mutually exclusive features on docs.rs?

I think the best way would be to add `#[cfg(any(feature="xxx", doc))]` to enable everything in the doc generation. (https://doc.rust-lang.

[2021-12-09 13:49] dbrgn commented on #204
Already fixed in #203. I'll create a new patch release.

I'd wait with additional config flags until the doc-cfg syntax is stabilized.

[2021-12-09 13:49] #204 closed

[2021-12-09 14:02] dbrgn commented on #204
I'll push out the new release as soon as #205 is merged.

[2021-12-09 14:11] azerupi commented on #204
Sorry I missed that, thanks for the quick reaction :+1:

[2021-12-13 14:16] dbrgn commented on #204
Release 0.9 is out: https://docs.rs/stm32l0xx-hal/0.9.0/stm32l0xx_hal/

[2022-01-12 15:46] hannobraun opened #211 "Stepping down as a maintainer"
Hey folks!

I'd like to announce that I'm stepping down as a maintainer of this crate. [I'm off to new adventures](https://github.com/sponsors/hannobraun) and would like to be able to focus on this new direction going forward.

Since that means that @dbrgn is the only remaining active maintainer, this might be an opportunity to look for new maintainers. But that is not my choice to make. I'm will

[2022-01-12 16:15] jamwaffles commented on #211
I'd be happy to take a more passive maintainership role for this crate. I'm not skilled enough to make architectural decisions but I can help out on the easier feature/bugfix PRs.

[2022-01-12 16:22] hannobraun commented on #211
Honestly, I think that's all that's required to keep things going. I myself have been leaning heavily on contributors for knowledge and testing for a while now. Providing a second pair of eyes and pressing "Merge" in a timely manner is already a very valuable role.

[2022-01-12 16:24] jamwaffles commented on #211
In that case, count me in!

![image](https://user-images.githubusercontent.com/800791/149180214-648abc24-8895-42b4-bbd5-779b7227389e.png)

[2022-01-12 18:04] dbrgn commented on #211
Oh, that's sad to hear, @hannobraun. Thanks for all the maintenance work you've done here! However, your CAD project sounds very interesting, good luck 🙂 I'll definitely check it out.

Same thing for me 😄 As noted in #106, I'm a high-level software engineer and many things in the embedded world are still black boxes to me (for example, I've never used DMA so far and some aspects of timer configura

[2022-01-12 18:18] hannobraun commented on #211
Thanks for the kind words, @dbrgn!

Are you sure? When I was still in the team, it looked like I could add members on [the team members page](https://github.com/orgs/stm32-rs/teams/stm32l0/members), but since I didn't actually do it, I either might have been mistaken, or maybe I was a maintainer and you're a normal member? I'm not sure; not an expert on GitHub org stuff.

If you really can't do an

[2022-01-12 21:03] adamgreig commented on #211
I've made @dbrgn a maintainer of the stm32l0 team, so you should now be able to add new members. Anyone in the team has maintainer access to this repository, but it looks like you were also directly listed on the repository as a holdover from before... I've cleaned up the direct repository access so it should all be through the team now.

Thanks for all your hard work here too, @hannobraun!

[2022-01-13 09:33] hannobraun commented on #211
Thank you, Adam!

[2022-01-13 09:42] dbrgn commented on #211
Thanks @adamgreig!

I can now add people to the team, but only if they're already part of stm32-rs. I cannot add people to stm32-rs, so unfortunately I'm still unable to add @jamwaffles 🙂

[2022-01-13 13:05] adamgreig commented on #211
Oh, that's annoying! I don't think I can enable that, so I've invited @jamwaffles to the org myself. Please let me know whenever anyone else needs inviting (and welcome, @jamwaffles!)

[2022-01-13 13:15] jamwaffles commented on #211
I'm in! Thanks everyone, and thank you @hannobraun for your stewardship of this crate :)

[2022-01-13 14:17] dbrgn commented on #211
Perfect, thanks @adamgreig!

[2022-01-13 16:09] #211 closed

[2022-01-13 16:09] dbrgn commented on #211
Call for maintainers added in #212.

[2022-01-14 03:24] arkorobotics commented on #211
@hannobraun I'm still alive. Looks like @adamgreig took care of things here (Hi Adam!). I thought I'd chime in to say how great it has been to watch this repo grow over the years. It wouldn't be where it is today without you! Best wishes on your new adventures with Fornjot!

[2022-01-14 08:49] hannobraun commented on #211
Thank you, @arkorobotics!

[2022-01-23 15:26] allexoll commented on #211
I'd be happy to help as well, I've been using l0xx as my go-to m0 lately, if help is still needed!

[2022-05-01 15:40] jcard0na opened #213 "Missing alternate SPI pins for STM32L051?"
### Observation

If I enable the [`mcu-STM32L051C8Tx`](https://github.com/stm32-rs/stm32l0xx-hal/blob/master/Cargo.toml#L176) feature, I get an error when assigning SPI pins **GPIOB 3-5** to `SCLK`, `MOSI` and `MISO`.

[code]
These pins are not recognized as valid SPI pins [for this subfamily](
https://docs.rs/stm32l0xx-hal/latest/src/stm32l0xx_hal/spi.rs.html#152-167).  They are [valid for `x2` a

[2022-05-01 19:14] jcard0na commented on #213
Oh, I just saw that this was fixed in the master branch (commit 645f1485c83a6f60f5b35b4f733aef76f205a78b)

So, yeah!  (thanks @alexismarquet !)

[2022-05-01 19:14] #213 closed

[2022-06-11 23:33] kuon opened #214 "I2C slave support"
I use the STM32L0XX serie of chip as I2C->SPI/UART/IO bridge.

And for this, I need the chip to be in STOP mode and wake up on I2C address match.

I currently have a working rust implementation that does not use this HAL, but I'd like to improve it so it could get included.

I do not know what would be the best way to proceed as, while my code work, it might not be "friendly" to include in this HA

[2022-06-16 03:54] kuon commented on #198
Shouldn't it be OK to upgrade now as the mentioned issue seems to be fixed?

[2022-06-16 08:06] jamwaffles commented on #198
That PR was merged some time ago, but there hasn't been an stm32-rs release since, so we need to wait for that.

[2022-08-15 10:31] #198 closed

[2022-09-13 21:34] jcard0na commented on #135
I encountered the same issue.  To repro, one just needs to modify [this line in the adc example](https://github.com/stm32-rs/stm32l0xx-hal/blob/master/examples/adc.rs#L14) to use the MSI clock:

[code]
and observe it hang on [adc.read](https://github.com/stm32-rs/stm32l0xx-hal/blob/master/examples/adc.rs#L25).

@romixlab Would you mind sharing your workaround?  I tried:
[code]
before `ADC::new()`

[2022-09-14 16:28] jcard0na commented on #135
Well, finally made it work, but was not very ergonomic.  Documenting here for my future self or for others in the same pickle...

[code]

[2022-09-17 08:34] nikgul commented on #141
Is there any chance of this getting included ?
I'm new to rust, working through "The book" atm. so I don't know how much help I would be able to provide.

[2022-09-20 20:19] romixlab commented on #135
Sorry, couldn't find it, it was a long time ago..

[2022-10-02 17:26] jcard0na commented on #114
Can this issue be closed?

[2022-10-02 17:29] dbrgn commented on #114
Yes, good catch!

[2022-10-02 17:29] #114 closed

[2022-10-03 18:10] NiklasC opened #219 "PWM Example compile issues"
Hello! I'm a beginner with rust and am currently working with a STM32L011K4T6.
I wanted to try out the PWM Example for my project, however, I'm running into some issues that I'm not sure how to fix.

I've copied the example into my project and changed the PWM pin to PB3 and use the feature stm32l0x2.

When compiling, I get the following error messages:

[code]

I've checked the documentation, and

[2022-10-03 18:35] jamwaffles commented on #219
Hey, welcome to embedded Rust! A couple of things:

By the looks of it, shouldn't you be using the `stm32l0x1` feature instead of `stm32l0x2`? Better yet, consider using ONLY the `mcu-STM32L011K4Tx` feature - it will enable the other correct features for your MCU which is nice.

You also need to be careful around the combination of timer/channel/pin you use. If you can build the docs locally with

[2022-10-03 19:13] NiklasC commented on #219
Thank you for your quick reply! I've updated the feature as you suggested, however, I still get the same errors as before. To be honest I did not check the docs regarding the PWMpin itself, only the peripheral.

According to the [datasheet](https://www.st.com/resource/en/datasheet/stm32l011d4.pdf) on page 39, PB3 has the TIM2 Channel 2 alternate function listed, which is also why I selected the st

[2022-10-03 19:26] jamwaffles commented on #219
Can you paste your code here if it's not too long?

Ah ok, maybe there's a bug in this crate's feature selection then. I can try to take a look when I have a spare minute.